---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";


---

<Layout title="Explora Ohiggins.">
	<main>

		<Header />
		
		<h1>Recorre <span class="text-gradient"> Chile</span></h1>
		<p class="instructions">
			Bienvenido a Recorre Chile, la Web dedicada al turismo emprendedor de nuestro pais.
		</p>

		<ul role="list" class="link-card-grid">

			<!-- <CardVideo
				title="Explora Machu Picchu"
				body="Descubre la maravilla de Machu Picchu, un legado de la cultura inca."
				href="https://www.machupicchu.gob.pe/"
				tags={["Aventura", "Historia"]}
				imageUrl="https://vulcanopro.s3.amazonaws.com/images/lar_mkhF0S209jod0yOddQhsO7GBioPXHfV3nS6lNuKM.jpeg"
				videoUrl="/videos/machu.mp4"
				facebookUrl="https://web.facebook.com/"
				twitterUrl="https://twitter.com/"
				instagramUrl="https://www.instagram.com/"
				whatsappUrl="https://web.whatsapp.com/"
			/>-->

			<Card
				title="Viña San Antonio"
				body="Viña Santa Rita fue fundada en 1880 por don Domingo Fernández Concha, destacado empresario y hombre público de la época."
				href="https://www.santarita.com/"
				tags={["Aventura", "Historia", "Cultura"]}
				imageUrl="https://vulcanopro.s3.amazonaws.com/images/lar_mkhF0S209jod0yOddQhsO7GBioPXHfV3nS6lNuKM.jpeg"
				facebookUrl="https://web.facebook.com/"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/"
				whatsappUrl="https://web.whatsapp.com/"
			/>

			<Card
				title="Viña San Antonio"
				body="Viña Santa Rita fue fundada en 1880 por don Domingo Fernández Concha, destacado empresario y hombre público de la época."
				href="https://www.santarita.com/"
				tags={["Aventura", "Historia", "Cultura"]}
				imageUrl="https://vulcanopro.s3.amazonaws.com/images/lar_mkhF0S209jod0yOddQhsO7GBioPXHfV3nS6lNuKM.jpeg"
				facebookUrl="https://web.facebook.com/"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/"
				whatsappUrl="https://web.whatsapp.com/"
			/>

			<Card
				title="Viña San Antonio"
				body="Viña Santa Rita fue fundada en 1880 por don Domingo Fernández Concha, destacado empresario y hombre público de la época."
				href="https://www.santarita.com/"
				tags={["Aventura", "Historia", "Cultura"]}
				imageUrl="https://vulcanopro.s3.amazonaws.com/images/lar_mkhF0S209jod0yOddQhsO7GBioPXHfV3nS6lNuKM.jpeg"
				facebookUrl="https://web.facebook.com/"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/"
				whatsappUrl="https://web.whatsapp.com/"
			/>

			<Card
				title="Viña San Antonio"
				body="Viña Santa Rita fue fundada en 1880 por don Domingo Fernández Concha, destacado empresario y hombre público de la época."
				href="https://www.santarita.com/"
				tags={["Aventura", "Historia", "Cultura"]}
				imageUrl="https://vulcanopro.s3.amazonaws.com/images/lar_mkhF0S209jod0yOddQhsO7GBioPXHfV3nS6lNuKM.jpeg"
				facebookUrl="https://web.facebook.com/"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/"
				whatsappUrl="https://web.whatsapp.com/"
			/>

			<Card
				title="Viña San Antonio"
				body="Viña Santa Rita fue fundada en 1880 por don Domingo Fernández Concha, destacado empresario y hombre público de la época."
				href="https://www.santarita.com/"
				tags={["Aventura", "Historia", "Cultura"]}
				imageUrl="https://vulcanopro.s3.amazonaws.com/images/lar_mkhF0S209jod0yOddQhsO7GBioPXHfV3nS6lNuKM.jpeg"
				facebookUrl="https://web.facebook.com/"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/"
				whatsappUrl="https://web.whatsapp.com/"
			/>

			<Card
				title="Viña San Antonio"
				body="Viña Santa Rita fue fundada en 1880 por don Domingo Fernández Concha, destacado empresario y hombre público de la época."
				href="https://www.santarita.com/"
				tags={["Aventura", "Historia", "Cultura"]}
				imageUrl="https://vulcanopro.s3.amazonaws.com/images/lar_mkhF0S209jod0yOddQhsO7GBioPXHfV3nS6lNuKM.jpeg"
				facebookUrl="https://web.facebook.com/"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/"
				whatsappUrl="https://web.whatsapp.com/"
			/>
			
		</ul>	
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem;
		width: 1100px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
	}
	.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background-color: #1a1a1a;
    padding: 1.5rem;
    text-align: center; /* Alinea el texto horizontalmente al centro */
}


	
	
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>