---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import ExchangeRateAndWeather from "../components/ExchangeRateAndWeather.astro";
import Card1 from "../components/Card1.astro";
---

<Layout title="Recorre Chile ctm!">
	
	<!--
	<ExchangeRateAndWeather />
	 -->
	
	

	<main>
		<Header />

		<h1>Recorre <span class="text-gradient"> Chile</span></h1>
		<p class="instructions">
			Bienvenido a Recorre Chile, el sitio web dedicado al turismo
			emprendedor de nuestro país.<br>
			Welcome to Recorre Chile, the website dedicated to entrepreneurial tourism in our country.
		</p>

		<p class="instructions_2">
			Zona Habilitada VI Region del libertador Bernardo O'higgins
		</p>

		<img class="mapa" src="/img/Region2.png" alt="" />

		<!--
		<ul role="list" class="link-card-grid">
			<Card1
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
				image="img/tipaume-1.jpg"
			/>
			<Card1
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
				image="img/tipaume-1.jpg"
			/>
			<Card1
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
				image="img/tipaume-1.jpg"
			/>
			<Card1
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
				image="img/tipaume-1.jpg"
			/>
		</ul>
		-->
		

		<ul role="list" class="link-card-grid">

	

			<Card
				title="Reserva Tipaume"
				body="La Reserva es un proyecto de Ecoturismo que cuenta con diversas actividades al aire libre aptas para toda la familia."
				href="https://www.reservatipaume.cl/"
				tags={["Aventura", "Trekking"]}
				imageUrl="/img/tipaume-1.jpg"
				facebookUrl="https://web.facebook.com/tipaumereserva"
				twitterUrl="reservatipaume@gmail.com"
				instagramUrl="https://www.instagram.com/reservatipaume/"
				whatsappUrl="https://web.whatsapp.com/"
			/>
			<Card
				title="Museo Colchagua"
				body="El Museo de Colchagua es un museo chileno ubicado en la comuna de Santa Cruz, en la Región del Libertador Bernardo O'Higgins. Es una institución de carácter privado, administrado por la Fundación Cardoen."
				href="https://www.museocolchagua.cl/"
				tags={["Historia", "Cultura"]}
				imageUrl="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/3d/e2/cb/20181027-182337-largejpg.jpg"
				facebookUrl="https://web.facebook.com/profile.php?id=61566471796796"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/museocolchagua"
				whatsappUrl="https://web.whatsapp.com/"
			/>
			<Card
				title="Salinas de Cahuil"
				body="A sólo 15 km de Pichilemu en el poblado de Cáhuil, región de O'Higgins, llaman la atención unas piscinas rectangulares de tonos rojizos y blancos"
				href="https://pichilemu.cl/"
				tags={["Aventura", "Cultura"]}
				imageUrl="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/b3/a7/ef/photo3jpg.jpg"
				facebookUrl="https://web.facebook.com/MuniPichilemu"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/muni_pichilemu"
				whatsappUrl="https://web.whatsapp.com/"
			/>
			<Card
				title="Reserva Río Los Cipreses"
				body="Reserva nacional Rio cipreses es un parque nacional que esta ubicado a 45 minutos desde Rancagua pasando por Coya hacia la cordillera de los andes."
				href="https://www.conaf.cl/parque_nacionales/reserva-nacional-rio-de-los-cipreses/"
				tags={["Aventura", "Historia", "Cultura"]}
				imageUrl="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/5d/36/3b/fin-del-sendero-carrazal.jpg"
				facebookUrl="https://web.facebook.com/CONAF"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/explore/locations/272350533/reserva-nacional-rio-los-cipreses/"
				whatsappUrl="https://web.whatsapp.com/"
			/>
			<Card
				title="Parque Safari"
				body="Vive una experiencia inolvidable, en las habitaciones familiares del Hotel Safari Lodge"
				href="https://www.parquesafari.cl/"
				tags={["Aventura"]}
				imageUrl="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/a4/0e/6b/caption.jpg"
				facebookUrl="https://web.facebook.com/parquesafari"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/parquesafari"
				whatsappUrl="https://web.whatsapp.com/"
			/>
			<Card
				title="Monticello Grand Casino"
				body="Monticello, ​ anteriormente llamado Monticello Grand Casino y Sun Monticello, ​ es un complejo que incluye un casino de juego, un hotel, un estadio cubierto de eventos multipropósito"
				href="https://monticello.dreams.cl/"
				tags={["Diversión", "Casinos"]}
				imageUrl="https://g3newswire.com/wp-content/uploads/2013/01/Monticello.jpg"
				facebookUrl="https://web.facebook.com/p/Monticello-Grand-Casino-100064496329907"
				twitterUrl="https://web.whatsapp.com/"
				instagramUrl="https://www.instagram.com/granmonticello"
				whatsappUrl="https://web.whatsapp.com/"
			/>
		</ul> 

		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2.3rem;
		width: 1600px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	h1 {
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	/*
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
	}
		*/
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background-color: #1a1a1a;
		padding: 1.5rem;
		text-align: center; /* Alinea el texto horizontalmente al centro */
	}

	.instructions_2 {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background-color: #1a1a1a;
		padding: 0.5rem;
		text-align: center; /* Alinea el texto horizontalmente al centro */
	}
	/*
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	*/

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(
			4,
			1fr
		); /* Crea cuatro columnas iguales */
		gap: 2rem; /* Espaciado entre las tarjetas */
		padding: 0;
		list-style: none;
		margin-top: 4rem;
	}

	@media (max-width: 1024px) {
		.link-card-grid {
			grid-template-columns: repeat(
				2,
				1fr
			); /* Dos tarjetas por fila en pantallas medianas */
		}
	}

	@media (max-width: 768px) {
		.link-card-grid {
			grid-template-columns: repeat(
				1,
				1fr
			); /* Una tarjeta por fila en pantallas pequeñas */
		}
	}

	.mapa {
		width: 60%; /* Hace que la imagen ocupe todo el ancho del contenedor */
		max-width: 900px; /* Limita el tamaño máximo de la imagen a 1200px */
		height: auto; /* Mantiene la proporción de la imagen */
		object-fit: cover; /* Asegura que la imagen se recorte adecuadamente si es necesario */
		border-radius: 8px; /* Agrega bordes redondeados a la imagen */
		margin: 1rem auto; /* Centra la imagen y le da un margen superior e inferior */
		display: block; /* Hace que la imagen se comporte como un bloque */
	}

	@media (max-width: 768px) {
		.mapa {
			width: 100%; /* Hace que la imagen ocupe todo el ancho en pantallas pequeñas */
			max-width: 100%; /* Asegura que no exceda el ancho de la pantalla */
			height: auto; /* Mantiene la proporción de la imagen */
		}
	}
</style>
