---
// Props que recibirá el componente
interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}

const { href, title, body, image } = Astro.props;
---

<li class="link-card1">
	<a href={href} style={`background-image: url(${image});`}>
		<div class="card1-overlay">
			<h2>
				{title}
				<span>&rarr;</span>
			</h2>
			<p>
				{body}
			</p>
		</div>
	</a>
</li>

<style>
	.link-card1 {
		list-style: none;
		padding: 0;
		margin: 0;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 4px 8px rgba(241, 241, 240, 0.2);
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}
	.link-card1:hover {
		transform: translateY(-10px);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	}

	.link-card1 > a {
		display: block;
		width: 100%;
		height: 200px;
		text-decoration: none;
		color: white;
		position: relative;
		background-size: cover;
		background-position: center;
		border-radius: 10px;
		transition: transform 0.3s ease;
	}

	/* Fondo oscuro superpuesto sobre la imagen */
	.card1-overlay {
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 1rem;
		backdrop-filter: blur(2px);
	}

	h2 {
		margin: 0;
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 1.2;
		color: white;
		transition: color 0.3s ease;
	}
	p {
		margin: 0.5rem 0 0;
		font-size: 1rem;
		color: rgba(255, 255, 255, 0.8);
	}
	.link-card1:hover h2 {
		color: #FD7446FF; /* Cambia el color al pasar el ratón */
	}
</style>
