<style>
    .footer {
        background-color: #1a1a1a;
        color: #ffffff;
        padding: 0rem 4rem;
        text-align: center;
        margin-top: 5%;
        border: 1px solid rgba(var(--accent-light), 25%);
    }

    

    .footer-content {
        max-width: 1100px;
        margin:  auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .footer-links,
    .social-links {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .footer-links a,
    .social-links a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;
    }

    .footer-links a:hover,
    .social-links a:hover {
        color: #e20202;
    }

    .social-links a {
        font-size: 1.25rem;
    }

    .footer-rights {
        font-size: 0.825rem;
        color: #aaaaaa;
    }

    @media (min-width: 768px) {
        .footer-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>

<footer class="footer">
    <div class="footer-content">
       

        <!-- Enlaces a redes sociales -->
        <div class="social-links">
            <!-----
            <a href="https://github.com/angelcorral2021" target="_blank" aria-label="GitHub"
                >🦊</a
            >
            <a href="https://angelcorral2021.github.io" target="_blank" aria-label="PortFolio"
                >📒</a
            >
            <a href="https://www.linkedin.com/in/angelcorral2021/" target="_blank" aria-label="LinkedIn"
                >🔗</a
            >
            <a
                href="https://instagram.com"
                target="_blank"
                aria-label="Instagram">📸</a
            >
            --- -->
        </div>

        <!-- Derechos de autor -->
        <p class="footer-rights">
            © 2024 Recorre Chile. Todos los derechos reservados.
        </p>
    </div>
</footer>
