---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/icons/icons8-circular-chile.svg"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4254710316974029"
			crossorigin="anonymous"></script>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			rel="stylesheet"
		/>
		
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 255, 0, 0; /* Rojo intenso */
		--accent-light: 255, 150, 150; /* Rojo claro */
		--accent-dark: 139, 0, 0; /* Rojo oscuro */
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 40%
		);
	}
	html {
		font-family: "Poppins", sans-serif;

		background: linear-gradient(
				rgba(255, 255, 255, 0.3),
				rgba(255, 255, 255, 0.3)
			),
			url("/img/re6.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		filter: brightness(0.9); /* Aumenta el brillo de la imagen */
	}
</style>
